<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div>
    hellow World
</div>
{% if var %}
    <span>{{ var }}</span>
{% else %}
    <span>var is undefined</span>
{% endif %}
<form method="post" action="http://127.0.0.1:5000/">
    <input type="text" id="myInput" name="myInput">
    <button type="submit">Отправить</button>
</form>
</body>
</html>
