<script setup>
import { ref, onUpdated, onMounted } from 'vue';
import { useStore } from 'vuex';

const store = useStore() 

const { indexOfElement, lineIndex } = defineProps({
  indexOfElement: {
    type: Number,
    required: true,
    default: 0
  },
  lineIndex: {
    type: Number,
    required: true,
    default: 0
  },
})

const num_of_outputs = ref(3)
const myOutputsIds = ref([])

function getLineDirection(outNum) {
  const directionsArray = ['right', 'bottom', 'left', 'top']
  const findedndex = directionsArray.findIndex((elem) => elem === store.state.scheme[lineIndex].lineDirection)
  return directionsArray[findedndex + (outNum % 2 ? outNum : outNum + 2) % 4]
}

onMounted(() => {
  console.debug('Появился циркулятор')
  for (let _ = 1; _ < num_of_outputs.value; _++) {
    myOutputsIds.value.push(store.state.scheme.length)
    store.state.scheme.push({
      id: store.state.scheme.length,
      parentId: lineIndex,
      lineDirection: getLineDirection(_),
      scheme: []
    })
    console.debug('Его выходы на ', getLineDirection(_))
  }
  store.state.scheme[lineIndex].scheme[indexOfElement].childrenLines = myOutputsIds.value
})

onUpdated(() => {
  myOutputsIds.value = []
  store.commit('DELETE_OPTIC_ELEM', {lineIndex, index: indexOfElement})
  store.commit('ADD_OPTIC_ELEM', { opticElem: { type: 'circular' }, lineIndex: lineIndex })
  for (let _ = 1; _ < num_of_outputs.value; _++) {
    myOutputsIds.value.push(store.state.scheme.length)
    store.state.scheme.push({
      id: store.state.scheme.length,
      parentId: lineIndex,
      lineDirection: getLineDirection(_),
      scheme: []
    })
  }
  store.state.scheme[lineIndex].scheme[indexOfElement].childrenLines = myOutputsIds.value
})
</script>

<template>
  <div class="w-full h-full flex justify-center items-stretch flex-col">
    <h3 class="mb-3 pt-3 text-lg font-medium text-center">Циркулятор</h3>
    <div class="mb-2 pb-2 border-b-[1px] border-gray-300">
      <div class="flex flex-col justify-start items-start px-4">
        <label for="polAngel">Кол-во выходов</label>
        <input type="number" 
            min="0"
            step="1"
            max="360"
            id="polAngel"
            v-model="num_of_outputs"
            class="input"/>
      </div>
    </div>
  </div>
</template>

<style>
  
</style>