<script>
export default {
  name: 'OpticFiterComp'
}
</script>

<script setup>
  import { ref } from "vue"
  import { useStore } from 'vuex';

const store = useStore()

const props = defineProps({
  indexOfElement: {
    type: Number,
    required: true
  },
  lineIndex: {
    type: Number,
    required: true
  }
})
  
const file = ref(null)
const readedValue = ref(null)

const handleFileUpload = async(event) => {
    // debugger;
    const target = event.target;
    if (target && target.files) {
        file.value = target.files[0];
    }
    const reader = new FileReader();
    reader.onload = (res) => {
      readedValue.value = res.target.result;
      store.commit('SAVE_OPTION_OF_OPTIC_ELEM', { lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'value' , val: readedValue.value })
      };
    reader.readAsText(file.value);
    //Upload to server
}
  
</script>

<template>
  <div>
    <input type="file" id="opticFilterFile" accept=".csv, .txt" v-on:change="handleFileUpload($event)"/>
  </div>
</template>

<style lang="">
  
</style>