<script setup>
  import { ref, computed, onMounted } from 'vue';
  import { useStore } from 'vuex';

  const store = useStore()
  
  const props = defineProps({
    indexOfElement: {
      type: Number,
      required: true
    },
    lineIndex: {
      type: Number,
      required: true
    }
  })
  
  const polarizeAngel = computed({
    get: () => store.state.scheme[props.indexOfElement].polarizeAngel,
    set: (val) => {
      store.commit('SAVE_OPTION_OF_OPTIC_ELEM', { lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'polarizeAngel' , val })
    }
  })

  onMounted(() => {
    store.commit('SAVE_OPTION_OF_OPTIC_ELEM', {lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'polarizeAngel' , val: 0 })
  })
</script>

<template>
  <div class="w-full h-full flex justify-center items-stretch flex-col">
    <h3 class="mb-3 pt-3 text-lg font-medium text-center">Поляризатор</h3>
    <div class="mb-2 pb-2 border-b-[1px] border-gray-300">
      <div class="flex flex-col justify-start items-start px-4">
        <label for="polAngel">Угол поляризации</label>
        <input type="number" 
            min="0"
            step="1"
            max="360"
            id="polAngel"
            v-model="polarizeAngel"
            class="input">
      </div>
    </div>
  </div>
</template>

<style scoped>
  
</style>
