<script setup>
import ParametersVue from "./faradaysParameters/Parameters.vue";
import PolorizerCompVue from "./OpticElements/PolorizerComp.vue";
import CirculatorComp from "./OpticElements/CirculatorComp.vue";
import OpticFiterComp from "./OpticElements/OpticFiterComp.vue";
import { useStore } from 'vuex'
import { computed } from 'vue'

const store = useStore()

const opticElementsArray = computed(() => (store.state.scheme))


</script>

<template>
  <aside class="flex justify-start items-start">
    <div v-for="opticLine, lineIndex in opticElementsArray" :key="`opticLine_Content_${lineIndex}`"
         class="bg-[#FAFAFA] min-w-[288px] h-full w-72 rounded-sm flex flex-col justify-start items-center mx-4">
         <div v-for="opticElem, index in opticLine.scheme" :key="`opticElem_${index}`">
          <div v-if="opticElem.type === 'isolator1'" class="w-full h-full">
            <ParametersVue :indexOfElement="index" :isolatorType="0" :lineIndex="lineIndex"/>
          </div>
          <div v-else-if="opticElem.type === 'isolator2'">
            <ParametersVue :indexOfElement="index" :isolatorType="1" :lineIndex="lineIndex"/>
          </div>
          <PolorizerCompVue v-else-if="opticElem.type === 'polarize'" :indexOfElement="index" :lineIndex="lineIndex"/>
          <CirculatorComp v-else-if="opticElem.type === 'circular'" :indexOfElement="index" :lineIndex="lineIndex" :key="`opticCircular_${lineIndex}`"/>
          <OpticFiterComp v-else-if="opticElem.type === 'filter'" :indexOfElement="index" :lineIndex="lineIndex" :key="`opticFilter_${lineIndex}`"/>
          <div v-else-if="opticElem.type === 'wavePlat'"></div>
          <div v-else-if="opticElem.type === 'analyzer'"></div>
          <div v-else>
            {{opticElem.type}}
          </div>
         </div>
    </div>
  </aside>
</template>

<style scoped>

</style>
