<script setup>
import { reactive, computed, ref, watch } from 'vue';
import ellipsePol from './canvasPlots/ellipsePol.vue'
import circlePolVue from './canvasPlots/circlePol.vue'
import linePolVue from './canvasPlots/linePol.vue'
import { useStore } from 'vuex'
import axios from 'axios'

  const state = reactive({ originalWaveType: 0 })
  const store = useStore()

  const polarizationAngel = ref(0)
  const ellipseAngel = ref(0)
  const a = ref(0.75)
  const b = ref(0.50)
  const directionPol = ref(0)
  

  const props = defineProps({
    isExtraSave: {
      type: Boolean,
      required: false,
      default: false
    }
  })

  const polarizationTypeName = computed(() => {
    const typesOfPol = {
      0: 'linear',
      1: 'circular',
      2: 'ellipse'  
    }
    return typesOfPol[state.originalWaveType]
  })
  const getApiPayload = computed(() => {
    let payload = {
      typeOfPol: polarizationTypeName.value,
    }
    if (payload.typeOfPol === 'ellipse') {
      payload.which_direction = directionPol.value == 1 ? 'l' : 'r'
      payload.aLong = a.value
      payload.bLong = b.value
      payload.angel = ellipseAngel.value
    } else if (payload.typeOfPol === 'circular') {
      payload.which_direction = directionPol.value == 1 ? 'l' : 'r'
    } else { //linear
      payload.angel = polarizationAngel.value
    }
    return payload
  })

  function submitOriginalWave () {
    store.commit("SET_ORIGINAL_WAVE", getApiPayload.value);
    axios.post('http://127.0.0.1:5000/setExistWave', {
      ...getApiPayload.value
    })
    .then((response) => {
      console.log(response);
    })
    .catch((error) => {
      console.log(error);
    });
  }

  watch(() => props.isExtraSave, (val) => {
    if(val) {
      submitOriginalWave()
    }
  });

</script>

<template>
  <aside class="bg-[#FAFAFA] float-left inline-block min-w-[288px] w-72">
    <h3 class="my-3 text-lg font-medium text-center">Тип поляризации исходной волны</h3>
    <div class="bg-gray-100 flex mb-2">
        <button @click="state.originalWaveType = 0" class="transition-all" :class="{'btn' : state.originalWaveType === 0, 'btn-alternative' : state.originalWaveType !== 0}">Линейная</button>
        <button @click="state.originalWaveType = 1" class="transition-all" :class="{'btn' : state.originalWaveType === 1, 'btn-alternative' : state.originalWaveType !== 1}">Круговая</button>
        <button @click="state.originalWaveType = 2" class="transition-all" :class="{'btn' : state.originalWaveType === 2, 'btn-alternative' : state.originalWaveType !== 2}">Эллиптическая</button>
    </div>
    <div class="w-full">
      <div class="my-2 pb-2">
        <div v-if="state.originalWaveType === 0">
          <div class="my-2 pb-2 border-b-[1px] border-gray-300">
            <div class="flex flex-col justify-start items-start px-4">
              <label for="lenearAngel">Угол направления вектора поляризации &theta;, &#176;</label>
              <input type="number" 
                  id="lenearAngel"
                  min="-90"
                  step="1"
                  max="90"
                  v-model="polarizationAngel"
                  class="input">
            </div>
          </div>
          <linePolVue
            :polarizationAngel="polarizationAngel"
          />
        </div>
        <div v-if="state.originalWaveType === 1">
          <div class="my-2 pb-2 border-b-[1px] border-gray-300">
            <div class="flex flex-col justify-start items-start px-4">
              <label for="polDirection">Направление поляризации</label>
              <select size="1" 
                      name="polDirection" 
                      id="polDirection" 
                      v-model="directionPol"
                      class="outline-none input">
                <option value="0" selected>Правая поляризации</option>
                <option value="1">Левая поляризации</option>
              </select>
            </div>
          </div>
          <circlePolVue
            :directionPol="Number(directionPol)"
          />
        </div>
        <div v-if="state.originalWaveType === 2">
          <div class="my-2 pb-2 border-b-[1px] border-gray-300">
            <div class="flex flex-col justify-start items-start px-4">
              <label for="angelRotation">Угол поворота эллипса &theta;, &#176;</label>
              <input type="number" 
                  id="angelRotation"
                  min="-180"
                  step="1"
                  max="180"
                  v-model="ellipseAngel"
                  class="input">
              <label for="aLine">Величена большой полуоси a, &#176;</label>
              <input type="number" 
                  id="aLine"
                  min="0"
                  step="0.01"
                  max="1"
                  v-model="a"
                  class="input">
              <label for="bLine">Величена малой полуоси b, &#176;</label>
              <input type="number" 
                  id="bLine"
                  min="0"
                  step="0.01"
                  max="1"
                  v-model="b"
                  class="input">
              <label for="polDirection">Направление поляризации</label>
              <select size="1" 
                      name="polDirection" 
                      id="polDirection" 
                      v-model="directionPol"
                      class="outline-none input">
                <option value="0" selected>Правая поляризации</option>
                <option value="1">Левая поляризации</option>
              </select>
            </div>
          </div>
          <ellipsePol
            :ellipseAngel="ellipseAngel"
            :aBigAxleShaft="a"
            :bBigAxleShaft="b"
            :directionPol="Number(directionPol)"
          />
        </div>
      </div>
    </div>
    <button @click="submitOriginalWave()" class="btn mx-auto w-48  mb-5 block">Сохранить параметры исходной волны</button>
  </aside>
</template>

<style scoped>
  
</style>