<script setup>
import { computed } from 'vue'
import AnalizerInfoVue from './AnalizerInfo.vue'
import OriginalWavelengthParametersVue from './OriginalWavelengthParameters.vue'
import ElementsSettingsVue from './ElementsSettings.vue'
import RecursiveComponent from './UIComponents/RecursiveContainer.vue'
import { useStore } from 'vuex'

const store = useStore()
const showAdditingBtn = (lineIndex) => {
  if (store.state.scheme[lineIndex].scheme[store.state.scheme[lineIndex].scheme.length - 1]?.type === 'analyzer' ||
      store.state.scheme[lineIndex].scheme[store.state.scheme[lineIndex].scheme.length - 1]?.type === 'circular') {
    return false
  }
  return true
}

const opticLinesArray = computed(() => {
  return store.state.scheme
})

const getChildrenLines = computed(() => {
  const idLines = opticLinesArray.value[0].scheme.find((elem) => elem.type === 'circular')
  if (idLines?.childrenLines) {
    const filteredElements = opticLinesArray.value.filter((elem) => {
      return idLines.childrenLines.includes(elem.id)
    })
    return filteredElements
  }
  return []
})

function openOriginalWaveSettings () {
  alert('Добавьте элементы в схему и установите параметры исходной волны')
}

</script>

<template>
  <h2 class="px-5 text-2xl font-bold">Параметры оптических элементов</h2>
  <div class="flex justify-start items-start my-5 px-5 flex-nowrap overflow-auto h-full">
    <OriginalWavelengthParametersVue :isExtraSave="false"/><!-- Как только поставлены все анализаторы отправляем true -->
    <ElementsSettingsVue/>
  </div>
  <div class="scheme bg-[#f2f2f2] w-full h-80 mb-10 flex justify-center items-center">
      <img src="../assets/laserIcon.png" alt="" 
         class="h-4 object-contain hover:cursor-pointer" 
         @click="openOriginalWaveSettings()">
      <RecursiveComponent
          :lineOpticElements="opticLinesArray[0].scheme"
          :childrenLines="getChildrenLines"
          :lineIndex="0"
          :currentLineDirection="'right'"
      />
    <!-- <OpticElements :lineOpticElements="opticElementsArray(0)" :lineIndex="0" :showAdditingBtn="showAdditingBtn(0)">
      <template v-for="opticLine, index in opticLinesArray" :key="`template_${index}`" #[opticLine.lineDirection]>
        {{ opticLine.scheme }}
        <OpticElements v-if="index !== 0"
          :lineOpticElements="opticLine.scheme" 
          :lineIndex="index" 
          :showAdditingBtn="showAdditingBtn(index)"
          :key="`line_${index}`">

        </OpticElements>
      </template>
    </OpticElements> -->
  </div>
  <AnalizerInfoVue v-if="showAdditingBtn(0) === false"/>
</template>

<style scoped>

</style>
