<script>
  export default {
    name: "AddElementsBtn"
  }
</script>

<script setup>
import { ref } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const { lineIndex } = defineProps({
  lineIndex: {
    type: Number,
    required: true
  },
})

const isListOfOpticsElements = ref(false)

const getElemType = {
  1: 'isolator1',
  2: 'isolator2',
  3: 'polarize',
  4: 'wavePlat',
  5: 'circular',
  6: 'mirror',
  7: 'filter',
  8: 'analyzer'
}

function addElement (elemNumber) {
  store.commit('ADD_OPTIC_ELEM', { opticElem: { type: getElemType[elemNumber] }, lineIndex: lineIndex })
  isListOfOpticsElements.value = !isListOfOpticsElements.value
}

</script>

<template>
  <div class="relative" v-click-outside="() => isListOfOpticsElements = false" >
    <button class="outline-none" 
            @click="isListOfOpticsElements = !isListOfOpticsElements">
      <img src="../../assets/plusIcon.png" alt="" 
            class="w-4 min-w-[16px] min-h-[16px] h-4 object-contain hover:cursor-pointer">
    </button>
    <ul class="bg-gray-200 border border-gray-300 rounded hidden absolute top-1/2 left-5 -translate-y-1/2" 
        :class="{'!block' : isListOfOpticsElements}">
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(1)">Изолятор фарадея</li>
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(2)">Изолятор на двул-ии</li>
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(3)">Поляризатор</li>
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(4)">Волновая пластинка</li>
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(5)">Циркулятор</li>
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(6)">Зеркало</li>
          <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(7)">Фильтр</li>
      <li class="hover:cursor-pointer hover:bg-slate-300 text-sm border-b text-center p-1 py-0.5" 
          @click="addElement(8)">Детектор и анализатр</li>
    </ul>
  </div>
</template>

<style>
  
</style>