<script setup>
import { computed } from 'vue'
import { useStore } from 'vuex'
import OpticElements from '../OpticTable/OpticElements.vue'
import RecursiveComponent from '../UIComponents/RecursiveContainer.vue'

const store = useStore()

const { lineOpticElements, childrenLines, lineIndex, currentLineDirection } = defineProps({
  lineOpticElements: {
    type: Array,
    required: true
  },
  childrenLines: {
    type: Array,
    required: true
  },
  lineIndex: {
    type: Number,
    required: true
  },
  currentLineDirection: {
    type: String,
    required: true
  }
})


const showAdditingBtn = (lineIndex) => {
  if (store.state.scheme[lineIndex].scheme[store.state.scheme[lineIndex].scheme.length - 1]?.type === 'analyzer' ||
      store.state.scheme[lineIndex].scheme[store.state.scheme[lineIndex].scheme.length - 1]?.type === 'circular' ||
      store.state.scheme[lineIndex].scheme[store.state.scheme[lineIndex].scheme.length - 1]?.type === 'mirror') {
    return false
  }
  return true
}

function getChildrenLine (childIdsArray) {
  const circularElem = childIdsArray.find((elem) => elem.type === 'circular')
  if (circularElem?.childrenLines) {
    const filteredElements = store.state.scheme.filter((elem) => {
      return circularElem.childrenLines.includes(elem.id) 
    })
    console.debug(filteredElements)
    return filteredElements
  }
  return []
}

function isThereACircular() {
  return store.state.scheme[lineIndex].scheme[store.state.scheme[lineIndex].scheme.length - 1]?.type === 'circular'
}
</script>

<template>
  
  <OpticElements :lineOpticElements="lineOpticElements" 
                 :lineIndex="lineIndex" 
                 :showAdditingBtn="showAdditingBtn(lineIndex)"
                 :currentLineDirection="currentLineDirection">
    <template v-if="isThereACircular()">
      <RecursiveComponent
      v-for="opticLine, index in childrenLines"
      :lineOpticElements="opticLine.scheme"
      :childrenLines="getChildrenLine(opticLine.scheme)"
      :lineIndex="opticLine.id"
      :key="opticLine.id"
      :currentLineDirection="opticLine.lineDirection"
      />
    </template>
  </OpticElements>
</template>

<style>
  
</style>