<script setup>
import ParametersVue from "../components/faradaysParameters/Parameters.vue";
import OriginalWavelengthParametersVue from "../components/OriginalWavelengthParameters.vue";
import { reactive, computed } from 'vue'

const state = reactive({ isolatorType: 0 })


const isolatorTypeName = computed(() => {
  return state.isolatorType === 0 ? 'Изолятор Фарадея' : 'Независимый от поляризации изолятор'
})

</script>

<template>
  <div class="container mx-auto px-2">
    <div class="w-[80%] flex justify-between items-stretch mx-auto mt-5">
      <OriginalWavelengthParametersVue/>
      <aside class="bg-[#FAFAFA] inline-block min-w-[208px] max-w-[273.54px]">
        <h3 class="my-3 text-lg font-medium text-center">Тип изолятора</h3>
        <div class="bg-gray-100 flex mb-2">
            <button @click="state.isolatorType = 0" class="transition-all" :class="{'btn' : !state.isolatorType, 'btn-alternative' : state.isolatorType}">Изолятор 1</button>
            <button @click="state.isolatorType = 1" class="transition-all" :class="{'btn' : state.isolatorType, 'btn-alternative' : !state.isolatorType}">Изолятор 2</button>
        </div>
        <div class="w-full">
          <ParametersVue :isolatorType="state.isolatorType"/>
        </div>
      </aside>
    </div>
  </div>
</template>

<style scoped>
    
</style>