@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .btn {
    @apply rounded bg-blue-500 hover:bg-blue-600 hover:cursor-pointer p-2 text-gray-100 text-sm font-medium inline-block w-full
  }
  .btn-active{
    @apply rounded bg-blue-500 hover:cursor-pointer text-gray-100 text-sm font-medium border-2 inline-block w-full
  }
  .btn-alternative{
    @apply rounded text-blue-400 hover:text-green-500 hover:cursor-pointer p-2 bg-gray-100 text-sm font-medium inline-block w-full
  }
  .input{
    @apply outline-none rounded p-1 border-[1px] border-gray-300
  }
}