<script setup>
import { onMounted, onUpdated, computed, ref } from 'vue'

const props = defineProps({
  directionPol: {
    type: Number,
    required: true,
    default: 0
  }
})

onMounted(() => {
  const canvas = document.getElementById('canvas');
  const ctx = canvas.getContext('2d');

  ctx.beginPath();
  ctx.ellipse(100, 100, 90, 90, 0, 0, 2 * Math.PI);
  ctx.stroke();
})
</script>

<template>
  <div class="mx-auto flex justify-center flex-col items-center">
    <img src="../../assets/arrow6.png" alt="asd" class="rotate-90 w-4" :class="{'-scale-y-100' : directionPol === 1}">
    <canvas id="canvas" width="200" height="200"></canvas>
  </div>
</template>

<style>
  
</style>