<script setup>
import { onMounted, onUpdated, computed, ref } from 'vue'

const props = defineProps({
  ellipseAngel: {
    type: Number,
    required: true,
    default: 0
  },
  aBigAxleShaft: {
    type: Number,
    required: true,
    default: 0.75
  },
  bBigAxleShaft: {
    type: Number,
    required: true,
    default: 0.50
  },
  directionPol: {
    type: Number,
    required: true,
    default: 0
  }
})
let getRadianAngel = computed(() => props.ellipseAngel * Math.PI / 180)
let canvas = ref(null)
let ctx = ref(null)

onUpdated(() => {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.setLineDash([]);
  ctx.beginPath();
  ctx.ellipse(100, 100, props.bBigAxleShaft*100, props.aBigAxleShaft*100, Math.PI/2 - getRadianAngel.value, 0, 2 * Math.PI);
  ctx.stroke();
})

onMounted(() => {
  canvas = document.getElementById('canvas');
  ctx = canvas.getContext('2d');

  // Draw the ellipse
  ctx.beginPath();
  ctx.ellipse(100, 100, props.bBigAxleShaft*100, props.aBigAxleShaft*100,  Math.PI/2 - getRadianAngel.value, 0, 2 * Math.PI);
  ctx.stroke();

  // Draw the ellipse's line of reflection
  /* ctx.beginPath();
  ctx.setLineDash([5, 5]);
  ctx.moveTo(0, 200);
  ctx.lineTo(200, 0);
  ctx.stroke(); */
})
</script>

<template>
  <div class="mx-auto flex justify-center flex-col items-center">
    <img src="../../assets/arrow6.png" alt="asd" class="rotate-90 w-4" :class="{'-scale-y-100' : directionPol === 1}">
    <canvas id="canvas" width="200" height="200"></canvas>
  </div>
</template>

<style>
  
</style>