<script setup>
import { onMounted, onUpdated, computed, ref } from 'vue'

const props = defineProps({
  polarizationAngel: {
    type: Number,
    required: true,
    default: 0
  }
})
function getRadianAngel(angel) {
  return angel * Math.PI / 180
}

let centralX = 100
let centralY = 100
let R = 90

function getNewPositionForX(betaAngel) {
  return centralX + (R * Math.cos(getRadianAngel(betaAngel)))
}
function getNewPositionForY(betaAngel) {
  return centralY + (R * Math.sin(getRadianAngel(betaAngel)))
}

let canvas = ref(null)
let ctx = ref(null)

onUpdated(() => {
  ctx.clearRect(0, 0, canvas.width, canvas.height);
  ctx.beginPath();
  ctx.moveTo(getNewPositionForX(180 - props.polarizationAngel), getNewPositionForY(props.polarizationAngel));
  ctx.lineTo(getNewPositionForX(props.polarizationAngel), getNewPositionForY(180 + props.polarizationAngel));
  ctx.stroke();
})

onMounted(() => {
  canvas = document.getElementById('canvas');
  ctx = canvas.getContext('2d');
  ctx.beginPath();
  ctx.moveTo(getNewPositionForX(180 - props.polarizationAngel), getNewPositionForY(props.polarizationAngel));
  ctx.lineTo(getNewPositionForX(props.polarizationAngel), getNewPositionForY(180 + props.polarizationAngel));
  ctx.stroke();
})
</script>

<template>
  <div class="mx-auto flex justify-center flex-col items-center">
    <canvas id="canvas" width="200" height="200"></canvas>
  </div>
</template>

<style>
  
</style>