<script>
export default {
  name: 'OpticElements'
}
</script>

<script setup>
import AddingBlock from '../UIComponents/AddingBlock.vue'
import { computed } from 'vue'
import { useStore } from 'vuex'

const store = useStore()
const { lineOpticElements, lineIndex, showAdditingBtn, currentLineDirection } = defineProps({
  lineOpticElements: {
    type: Array,
    required: true
  },
  lineIndex: {
    type: Number,
    required: true
  },
  showAdditingBtn: {
    type: Boolean,
    default: true
  },
  currentLineDirection: {
    type: String,
    default: true
  }
})

const isThereCircularElement = computed(() => {
  return lineOpticElements?.includes({type: 'circular'})
})
const isThereAnyElement = computed(() => {
  return !!lineOpticElements.length
})

function getLabelOfElem (type) {
  const labelObj= {
    'isolator1': 'FI',
    'polarize': 'POL',
    'analyzer': 'PC'
  }
  return labelObj[type] ? labelObj[type] : type
}

function popOpticElem (index) {
  store.commit('DELETE_OPTIC_ELEM', {lineIndex, index})
}
</script>

<template>
  <div class="mainLine flex justify-center items-center" 
  :class="{'flex-col left-[18px] absolute top-10' : currentLineDirection === 'bottom',
            '!left-0 w-[50px] max-w-[50px]' : isThereAnyElement && (currentLineDirection === 'bottom' || currentLineDirection === 'top'),
            'flex-col-reverse left-[18px] absolute bottom-10' : currentLineDirection === 'top',
            'flex-row-reverse absolute right-12' : currentLineDirection === 'left'
            }">
      <div class="flex justify-center items-center"
          :class="{'flex-col' : currentLineDirection === 'bottom', 
                   'flex-col-reverse' : currentLineDirection === 'top',
                   'flex-row-reverse' : currentLineDirection === 'left'}">
      <div v-for="opticElem, index in lineOpticElements" :key="index"
            class="flex justify-center items-center group"
            :class="{'flex-col' : currentLineDirection === 'bottom',
                     'flex-col-reverse' : currentLineDirection === 'top',
                     'flex-row-reverse' : currentLineDirection === 'left'}">
        <div class="border-black border-solid border-b-2 w-10 mx-2 h-0" 
            :class="{'border-l-2 w-0 mx-0 my-2 h-10' : currentLineDirection === 'bottom' || currentLineDirection === 'top'}"></div>
        <div class="hover:cursor-pointer border-gray-300 rounded
                    p-1 border hover:bg-gray-300 relative"
              @click="popOpticElem(index)"
              v-if="opticElem.type !== 'circular'">
          {{getLabelOfElem(opticElem.type)}}
          <div class="w-5 h-5 justify-center items-center hidden 
                      group-hover:flex rounded-full bg-red-700
                      min-w-[4px] absolute -top-3 -right-3">
            <img src="../../assets/xIcon.png" class="w-3 object-contain" alt="">
          </div>
        </div>
        <div v-else class="flex justify-center items-center group relative" 
                    :class="{'w-12 flex-nowrap !justify-start' : currentLineDirection === 'bottom' || currentLineDirection === 'top'}">
          <div class="hover:cursor-pointer border-gray-300 rounded p-1 border hover:bg-gray-300 relative" 
               @click="popOpticElem(index)">
            <img src="../../assets/Circulator-symbol-Y.svg" class="rotate-180 w-10 object-contain min-w-[40px]">
            <div class="w-5 h-5 justify-center items-center hidden 
                        group-hover:flex rounded-full bg-red-700
                        min-w-[4px] absolute -top-3 -right-3">
              <img src="../../assets/xIcon.png" class="w-3 object-contain" alt="">
            </div>
          </div>
          <slot></slot>
          <!-- Тут циркулятор, выходы которых имеют рекурсивные компоненты -->
        </div>
      </div>
    </div>
    <div class="border-black border-dashed border-b-2 w-10 mx-2 h-0" 
        :class="{'border-l-2 w-0 mx-0 my-2 h-10' : currentLineDirection === 'bottom' || currentLineDirection === 'top'}" 
        v-if="showAdditingBtn && !isThereCircularElement"></div>
    <AddingBlock v-if="showAdditingBtn && !isThereCircularElement" :lineIndex="lineIndex"/>
  </div>
</template>

<style>
  
</style>