<script setup>
  import { ref, computed, onMounted } from 'vue';
  import { useStore } from 'vuex';

  const store = useStore()
  
  const props = defineProps({
    isolatorType: {
      type: Number,
      required: true,
      default: 0
    },
    indexOfElement: {
      type: Number,
      required: false,
      default: 0
    },
    lineIndex: {
      type: Number,
      required: true
    },
  })
  
  const lengthOfCrystal = computed({
    get: () => store.state.scheme[props.lineIndex].scheme[props.indexOfElement].lengthOfCrystal,
    set: (val) => {
      val = parseFloat(val)
      store.commit('SAVE_OPTION_OF_OPTIC_ELEM', {lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'lengthOfCrystal' , val})
    }
  })
  const inductionOfExternalField = computed({
    get: () => store.state.scheme[props.lineIndex].scheme[props.indexOfElement].inductionOfExternalField,
    set: (val) => {
      val = parseFloat(val)
      store.commit('SAVE_OPTION_OF_OPTIC_ELEM', {lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'inductionOfExternalField', val})
    }
  })
  const opticWindowFrom = computed({
    get: () => store.state.waveWindow.from,
    set: (val) => {
      val = parseFloat(val)
      store.commit('SAVE_WAVE_WINDOW', { prop: 'from', value:  val })
    }
  })
  const opticWindowTo = computed({
    get: () => store.state.waveWindow.to,
    set: (val) => {
      val = parseFloat(val)
      store.commit('SAVE_WAVE_WINDOW', { prop: 'to', value: val })
    }
  })

  const verdetsConstant = computed({
    get: () => store.state.scheme[props.lineIndex].scheme[props.indexOfElement].K_const,
    set: (val) => {
      val = parseFloat(val)
      store.commit('SAVE_OPTION_OF_OPTIC_ELEM', {lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'K_const', val})
    }
  })

  const lambda_0 = computed({
    get: () => store.state.scheme[props.lineIndex].scheme[props.indexOfElement].lambda_0,
    set: (val) => {
      val = parseFloat(val)
      store.commit('SAVE_OPTION_OF_OPTIC_ELEM', {lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'lambda_0', val})
    }
  })


  onMounted(() => {
    store.commit('SAVE_OPTION_OF_OPTIC_ELEM', { lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'lengthOfCrystal' , val: 9.56 })
    store.commit('SAVE_OPTION_OF_OPTIC_ELEM', { lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'inductionOfExternalField' , val: 1 })
    store.commit('SAVE_OPTION_OF_OPTIC_ELEM', { lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'K_const' , val: 61.95 })
    store.commit('SAVE_OPTION_OF_OPTIC_ELEM', { lineIndex: props.lineIndex, index: props.indexOfElement, prop: 'lambda_0' , val: 436 })
  })
</script>

<template>
  <div class="w-full h-full flex justify-center items-center flex-col">
    <form v-on:submit.prevent="onSubmit" v-if="props.isolatorType === 0">
      <h3 class="mb-3 pt-3 text-lg font-medium text-center">Изолятора фарадея</h3>
      <div class="mb-2 pb-2 border-b-[1px] border-gray-300">
        <div class="flex flex-col justify-start items-start px-4">
          <label for="induction">Индукция внешнего магнитного поля, Тл</label>
          <input type="number" 
              min="0"
              step="0.01"
              max="2"
              id="induction"
              v-model="inductionOfExternalField"
              class="input">
        </div>
      </div>
      <div class="pb-2 border-gray-300">
        <div class="flex flex-col justify-start items-start px-4">
          <label for="lenghtOfCrystal">Длина кристалла, мм</label>
          <input
                v-model="lengthOfCrystal"
                type="number"
                id="lenghtOfCrystal"
                min="1"
                step="0.01"
                max="20"
                class="input "/>
        </div>
      </div>
      <div class="mb-2 pb-2 border-b-[1px] border-gray-300">
        <div class="flex justify-between items-center w-full px-4">
          <span class="translate-y-0.5">1</span>
          <input  
              type="range"
              min="1"
              step="0.01"
              max="20"
              class="mt-2 w-full mx-2"
              v-model="lengthOfCrystal"/>
              <span class="translate-y-0.5">20</span>
        </div>
      </div>
      <div class="mb-2 pb-2 border-b-[1px] border-gray-300">
        <div class="flex flex-col justify-start items-start px-4">
          <label for="lenghtOfCrystal">&#955;<sub>0</sub></label>
          <input  
              type="input"
              class="input"
              v-model="lambda_0"/>
        </div>
      </div>
      <div class="mb-2 pb-2 border-b-[1px] border-gray-300">
        <div class="flex flex-col justify-start items-start px-4">
          <label for="lenghtOfCrystal">K</label>
          <div class="flex justify-start items-center w-full">
            <input  
              type="input"
              class="input"
              v-model="verdetsConstant"/>
            <span class="translate-y-0.5 ml-2">* 10<sup>7</sup></span>
          </div>
        </div>
      </div>
      <div class="mb-2 pb-2">
        <div class="flex justify-start items-stretch w-full flex-col px-4">
          <label for="opticWindow">Расчет интенсивности в диапозоне</label>
          <span>от</span>
          <input
            v-model="opticWindowFrom"
            type="number"
            id="opticWindowFrom"
            min="410"
            step="1"
            max="1220"
            class="input"/>
          <span>до</span>
          <input
            v-model="opticWindowTo"
            type="number"
            id="opticWindowTo"
            :min="opticWindowFrom+100"
            step="1"
            max="2000"
            class="input"/>
        </div>
      </div>
    </form>
  </div>
  <form v-if="props.isolatorType === 1">
    В разработке
  </form>
</template>

<style scoped>
  
</style>